image: rancher/hardened-k8s-metrics-server:{{build.tag}}
manifests:
  -
    image: rancher/hardened-k8s-metrics-server:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/hardened-k8s-metrics-server:{{build.tag}}-arm64
    platform:
      architecture: arm64
      os: linux
  -
    image: rancher/hardened-k8s-metrics-server:{{build.tag}}-s390x
    platform:
      architecture: s390x
      os: linux
